body
  background #e9e9e9
#chat_container
  padding 10px
  background #4599bb
  width 30%
  margin 0 auto
  height 100vh
  h4
    color white
    text-align center
  .message
    background white
    padding 5px 10px
    margin 10px 0
    h6
      color #888
